.movepage {
  margin-top: 20px;
  margin-left: 164px;
}

.movepage h2 {
  font-size: 32px;
  font-weight: 400;
  color: #ffffff;
  text-align: start;
}

.mopacard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* ================================================= */

/* Media Query for tab devices */
@media only screen and (min-width: 576px) and (max-width: 1200px) {
  .mopacard {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .movepage {
    margin-top: 15px;
    margin-left: 25px;
  }

  .movepage h2 {
    font-size: 32px;
    font-weight: 400;
    color: #ffffff;
    text-align: start;
  }
}

/* ==================================== */

/* Media Query for mobile devices */
@media only screen and (max-width: 576px) {
  .mopacard {
    grid-template-columns: 1fr 1fr;
  }

  .movepage {
    margin-top: 12px;
    margin-left: 16px;
  }

  .movepage h2 {
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    text-align: start;
  }
}
